.main{
    padding: 0 20px;
    padding-bottom: 32px;
    background: #3299d5;
    display: flex;
    justify-content: space-between;
    column-gap: 2%;
}



.main__backlog{
    padding: 10px;
    border-radius: 10px;
    width: 24%;
    background: #ebecf0;
}
.main__backlog-h2{
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 18px;
    color: #000;
}
.main__backlog-h3{
    padding: 6px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    background: #fff;
    border-radius: 6px;
}
.main__backlog-list{
    padding: 6px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    background: #fff;
    border-radius: 6px;
}




.main__ready{
    padding: 10px;
    border-radius: 10px;
    width: 24%;
    background: #ebecf0;
}
.main__ready-h2{
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 18px;
    color: #000;
}
.main__ready-h3{
    padding: 6px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    background: #fff;
    border-radius: 6px;
}
.main__ready-list{
    padding: 6px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    background: #fff;
    border-radius: 6px;
}




.main__progress{
    padding: 10px;
    border-radius: 10px;
    width: 24%;
    background: #ebecf0;
}
.main__progress-h2{
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 18px;
    color: #000;
}
.main__progress-h3{
    padding: 6px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    background: #fff;
    border-radius: 6px;
}
.main__progress-list{
    padding: 6px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    background: #fff;
    border-radius: 6px;
}




.main__finished{
    padding: 10px;
    border-radius: 10px;
    width: 24%;
    background: #ebecf0;
}
.main__finished-h2{
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 18px;
    color: #000;
}
.main__finished-h3{
    padding: 6px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    background: #fff;
    border-radius: 6px;
}
.main__finished-list{
    padding: 6px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    background: #fff;
    border-radius: 6px;
}