.main{
    padding: 0 20px;
    padding-bottom: 32px;
    background: #3299d5;
    display: flex;
    justify-content: space-between;
    column-gap: 2%;
    /* max-height: 400px; */
}
.main__ready{
    padding: 10px;
    border-radius: 10px;
    width: 24%;
    background: #ebecf0;
    max-height: 540px;
    overflow-y: auto;
    scrollbar-width: 12px;
    scrollbar-color: #cbcbcb #fff;
}
.main__ready-h2{
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 18px;
    color: #000;
}
.main__ready-good{
    padding: 6px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    background: #fff;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.main__ready-delite{
    background: #fff;
    border: none;
    cursor: pointer;
}



.main__ready-task{
    padding: 6px;
    margin-bottom: 16px;
    width: 100%;
    color: #000;
    border-radius: 4px;
    border: none;
    background: #fff;
}




.main__btn{
    font-weight: 400;
    font-size: 18px;
    color: #5e6c84;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 102px;
    height: 29px;
    background: #ebecf0;
}
.main__btn:hover{
    background: #fff;
}
.submit__btn{
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    width: 102px;
    height: 29px;
    background: #0079bf;
    cursor: pointer;
    border: none;
}
.submit__btn:hover{
    color: #ebecf0;
}



.main__ready-list{
    padding: 6px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    background: #fff;
    border-radius: 6px;
}


@media (max-width: 900px){
.main{
    flex-wrap: wrap;
    row-gap: 20px;
}
.main__ready{
    width: 49%;
    
}
}

@media (max-width: 670px){
    .main{
        flex-direction: column;
        row-gap: 20px;
    }
    .main__ready{
        width: 100%;
        
    }
    }



/* .main__progress{
    padding: 10px;
    border-radius: 10px;
    width: 24%;
    background: #ebecf0;
}
.main__progress-h2{
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 18px;
    color: #000;
}
.main__progress-h3{
    padding: 6px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    background: #fff;
    border-radius: 6px;
}
.main__progress-list{
    padding: 6px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    background: #fff;
    border-radius: 6px;
} */




/* .main__finished{
    padding: 10px;
    border-radius: 10px;
    width: 24%;
    background: #ebecf0;
}
.main__finished-h2{
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 18px;
    color: #000;
}
.main__finished-h3{
    padding: 6px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    background: #fff;
    border-radius: 6px;
}
.main__finished-list{
    padding: 6px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    background: #fff;
    border-radius: 6px;
} */