.header{
    width: 100%;
    padding: 11px 20px;
    margin-bottom: 20px;
    background: #0067a3;
    display: flex;
    justify-content: space-between;
}
.header__title-hom{
    text-decoration: none;
    font-weight: 400;
    font-size: 28px;
    color: #fff;
}
.header__title-hom:hover{
    font-size: 30px;
    color: #cfd3d6;
    opacity: 0.8;
    transition: 0.3s;
}
.header__burger{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content:right;
}
.burger__icon{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: end;
}
.burger__icon-avatar{
    width: 40px;
    cursor: pointer;
}
.burger__icon-closed{
    width: 12px;
}
.burger__icon-open{
    width: 12px;
    /* display: none; */
    /* cursor: pointer; */
}
.none{
    display: none;
}
.burger__registration{
    /* margin-right: 20px; */
    /* position: relative; */
    padding: 8px;
    border-radius: 5px;
    width: 134px;
    height: 60px;
    background: #fff;
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    transition: 0.3s;
}

/* .burger__registration ::before,
.burger__registration ::after{
    display: block;
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    right: 15px;
    border: 10px solid transparent;
}
.burger__registration ::before{
    top: -20px;
    border: 10px solid #cb1c1c;
}
.burger__registration ::after{
    top: -19px;
    border: 10px solid #fff;
} */

.burger__registration.active{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.burger__registration-rectangle{
    margin-top: -14px;
    margin-left: 80px;
    width: 11px;
}
.burger__registration-profile{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.burger__registration-profile,
.burger__registration-log{
    font-weight: 400;
    font-size: 14px;
    color: #000;
    cursor: pointer;
}
.burger__registration-profile:hover,
.burger__registration-log:hover{
    color: #0079bf;
}

@media (max-width: 370px){
    .header__title{
        display: none;
    }



    .header__burger{
    }
    }