.footer{
    padding: 16px 0;
    background: #0067a3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__finished{
    display: flex;
    column-gap: 32px;
}
.footer__kanban{
    margin-right: 20px;

}